:root {
  --graduate-font: 'Graduate', cursive;
  --open-font: 'Open Sans', sans-serif;
  --red: #e63946;
  --gold: #f2af29;
  --navy: #0a2463;
  --blue: #197bbd;
  --white: #fff;
  --black: #000;
}

main {
  background: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--open-font);
  min-height: 100vh;
  padding-bottom: 50px;
}

h1 {
  font-family: var(--graduate-font);
  color: var(--white);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--navy);
  font-size: 40px;
  text-align: center;
}

h2 {
  text-align: center;
}

button {
  font-family: var(--graduate-font);
  font-size: 20px;
  background-color: var(--gold);
  border: none;
  border-radius: 4px;
  padding: 4px;
  margin: 8px;
}

.instructionsContainer {
  background: var(--white);
  margin: 24px;
  padding: 24px;
  border: solid 2px var(--gold);
}

.motionsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  max-width: 90%;
  margin: 0 auto;
}

.motionsImage {
  grid-area: span 1;
  height: 100px;
  width: 100px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
}

li {
  font-family: var(--graduate-font);
  color: var(--gold);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.routineImage {
  height: 180px;
  width: 180px;
}

footer {
  height: 50px;
  margin-top: -50px;
  font-family: var(--open-font);
  display: flex;
  justify-content: center;
  color: var(--white);
}





