:root {
  --graduate-font: 'Graduate', cursive;
  --open-font: 'Open Sans', sans-serif;
  --red: #e63946;
  --gold: #f2af29;
  --navy: #0a2463;
  --blue: #197bbd;
  --white: #fff;
  --black: #000;
}

main {
  background: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--open-font);
}

h1 {
  font-family: var(--graduate-font);
  color: var(--gold);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--navy);
  font-size: 40px;
  text-align: center;
  }

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

li {
  font-family: var(--graduate-font);
  color: var(--gold);
  font-size: 24px;
  padding-right: 8px;
}



